<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yds.fjstest"
    xmlns:tools="http://schemas.android.com/tools"
    >
    <application
        android:name=".TestApplication"
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        tools:replace="android:name,android:label,android:allowBackup"
        >

    </application>
</manifest>

